@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

:root {
  --primary: #04031f;
  --secondary: #39ffff;
  --text: #6c3fff;
  --pink: #ff00a6;
}

html{
  background-color: rgb(4, 3, 31);
  color: aliceblue;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
